.state_news {
    display: flex;
    /* flex-direction: column; */
    flex: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.news {
    width: 70%;
    height: 40%;
    border: 1px solid #ccc;
    background-color: #2d3439;
    color: #fff;
    padding: .6rem;
    font-size: 1.5rem;
    border-radius: 10px;
}