.states {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

select.selectOptions {
    width: 70%;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #2d3439;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 .6rem;
    margin: 10rem 0 0 0;
}

select.selectOptions:focus {
    outline: none;
}