.right-container {
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #CBCBD4;
}

.temp {
    position: absolute;
    top: 50%;
    right: 50%;
}