/* SIDEBAR */
.left-container {
    width: 40%;
    height: 100vh;
    overscroll-behavior-y: none;
    background-color: #2d3439;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    align-items: center;
}


.logo {
    height: 7.5%;
    display: block;
    margin: 2rem auto;
    max-width: 100%;
}